@tailwind base;
@tailwind components;
@tailwind utilities;

.pageBody{
  border: 2px solid brown;
  display: flex;
  align-items: stat;
  justify-content: center;
  min-height: 1920px;
  min-width: 1080px;
}
.pageContents{
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-grow: 1;
}
.subBody1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.subBody1Contents{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

