body{
    display: flex;
    min-width: 1920px;
    min-height:1080px;
    border:2px solid green;
    align-items:start;
    justify-content: center;
    
}
.imageContainer{
    max-width: 1920px;
    min-height: 500px;
    border:5px solid red;
    display: flex;
    flex-direction: row;

}
.images{
    display: flex;

    flex-direction: row;
}